/* 
Settings 
*/
/*
Tools
*/
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }
@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

/*
Generic
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

html {
  font-size: 20px;
  line-height: 1.5em; }
  @media screen and (min-width: 500px) {
    html {
      font-size: 22.5px; } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 25px; } }

.green {
  color: #6b992e; }

.bg-washed-green,
.hover-bg-washed-green:focus,
.hover-bg-washed-green:hover {
  background-color: #cae1ad; }

.bg-washed-yellow {
  background-color: #f2f0eb; }

.dark-gray {
  color: #31332e; }

.animate-wave {
  -webkit-animation: wave ease-in-out 0.3s 3;
          animation: wave ease-in-out 0.3s 3;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right; }

a {
  border-bottom: .125em solid #cae1ad; }