---
layout: default
---
<div class=" column third">
  <main>
    {% include header.html %}
    <section role="main" class="main-content">
      <h2 class="header">Some projects I'm <span class="u-nowrap">proud of</span></h2>
      <p class="subheader">Notes on my process and thinking</p>
      <ul class="project-list">
        <li class="item">
          <a href="" data-item="ffc">Fancy Footage Club</a>
        </li>
        <li class="item">
          <a href="" data-item="hla">HOPE Leadership Academy</a>
        </li>
        <li class="item">
          <a href="" data-item="nlf">Nater Law Firm</a>
        </li>
      </ul>
    </section>
    {% include footer.html %}
  </main>
</div>