---
layout: default
---
<div class=" column third">
  <main>
    {% include header.html %}
    <section role="main" class="main-content">
      <h2 class="header">Some projects I'm <span class="u-nowrap">proud of</span></h2>
      <p class="subheader">Notes on my process and thinking</p>
      <ul class="project-list">
        <li class="item">
          <a href="https://www.behance.net/gallery/30085499/Fancy-Footage-Club" target="_blank" data-item="ffc">
            Fancy Footage Club
          </a>
        </li>
        <li class="item">
          <a href="https://www.behance.net/gallery/30085825/HOPE-Leadership-Academy" target="_blank" data-item="hla">
            HOPE Leadership Academy
          </a>
        </li>
        <li class="item">
          <a href="https://www.behance.net/gallery/30085659/Nater-Law-Firm" target="_blank" data-item="nlf">
            Nater Law Firm
          </a>
        </li>
      </ul>
    </section>
    {% include footer.html %}
  </main>
</div>