<footer class="main-footer">
  <button class="button -primary">Hire Me!</button>
  <p>Check me out around the web</p>
  <ul class="links-list">
    <li class="link -icon">
      <a href="https://www.behance.net/anater">
        <i class="fa fa-behance">Behance</i>
      </a>
    </li>
    <li class="link -icon">
      <a href="https://twitter.com/a_Nater">
        <i class="fa fa-twitter">Twitter</i>
      </a>
    </li>
    <li class="link -icon">
      <a href="https://instagram.com/anater">
        <i class="fa fa-instagram">Instagram</i>
      </a>
    </li>
    <li class="link -icon">
      <a href="https://www.linkedin.com/in/anater">
        <i class="fa fa-linkedin">LinkedIn</i>
      </a>
    </li>
  </ul>
</footer>
