<footer class="main-footer">
  <a class="button" href="mailto:a.a.nater@gmail.com?subject=Let's work together!">Hire Me!</a>
  <p>Check me out around the web</p>
  <ul class="links-list">
    <li class="link">
      <a href="https://www.behance.net/anater">
        <i class="fa fa-behance"></i>
      </a>
    </li>
    <li class="link">
      <a href="https://twitter.com/a_Nater">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="link">
      <a href="https://instagram.com/anater">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li class="link">
      <a href="https://www.linkedin.com/in/anater">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
  </ul>
</footer>
