<div class="column two-thirds">
  <aside role="complimentary" class="content-preview">
    <ul class="project-preview -ffc">
      <li class="img-preview -ffc -selected" data-item="ffc">
        <a href="https://www.behance.net/gallery/30085499/Fancy-Footage-Club" target="_blank" data-item="ffc" onclick="ga('send', 'event', 'Project', 'click', 'ffc')"></a>
      </li>
      <li class="img-preview -hla" data-item="hla">
        <a href="https://www.behance.net/gallery/30085825/HOPE-Leadership-Academy" target="_blank" data-item="hla" onclick="ga('send', 'event', 'Project', 'click', 'hla')"></a>
      </li>
      <li class="img-preview -nlf" data-item="nlf">
        <a href="https://www.behance.net/gallery/30085659/Nater-Law-Firm" target="_blank" data-item="nlf" onclick="ga('send', 'event', 'Project', 'click', 'nlf')"></a>
      </li>
    </ul>
  </aside>
</div>