// TACHYONS COLOR OVERRIDES

.green{
    color: #6b992e;
}

.bg-washed-green,
.hover-bg-washed-green:focus,
.hover-bg-washed-green:hover{
    background-color: #cae1ad;
}

.bg-washed-yellow{
    background-color: #f2f0eb;
}

.dark-gray{
    color: #31332e;
}

.animate-wave{
    animation: wave ease-in-out .3s 3;
    animation-delay: 1s;
    transform-origin: bottom right;
}

a{
    border-bottom: .125em solid #cae1ad;
}
