// TACHYONS COLOR OVERRIDES

.green{
    color: #6b992e;
}

.bg-washed-green,
.hover-bg-washed-green:focus,
.hover-bg-washed-green:hover{
    background-color: #cae1ad;
}

.bg-washed-yellow{
    background-color: #f2f0eb;
}

.dark-gray{
    color: #31332e;
}

// ANIMATIONS

.animate-wave{
    animation: wave ease 5s infinite;
    animation-delay: 1s;
    transform-origin: bottom right;
}

.animate-swing{
    animation: swing ease 1.5s infinite;
    transform-origin: top center;
}

.animate-fly-out{
    animation: fly-out ease 10s infinite;
    transform-origin: bottom center;
    animation-delay: 5s;
}

// TAG STYLES

a{
    border-bottom: .125em solid #cae1ad;
}
