/* 
Components
*/

.main-header{
	> .title{
		font-size: 1.5em;
	}
	> .subtitle, .cta{
		font-size: .75em;
	}
}

.main-content{
	> .header{
		font-size: 1em;
	}
	> .subheader{
		font-size: .625em;
	}
	> .project-list{
		font-size: .75em;
	}
}

.project-list{
	> .item{
		& img{
			max-width: 100%;
		}
	}
}

.main-footer{
	padding-bottom: 1em;

	> .button{
		width: 90%;
		max-width: 300px;
		margin: 0 auto;
		padding: .5rem;
		margin-bottom: 1.5em;
		border-radius: 3px;
		font-family: $font-title;
		color: $text-color;
		text-transform: uppercase;
		letter-spacing: .15em;
		cursor: pointer;
		border: none;
		background: linear-gradient(#8ecc3d, #85c138);
		box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
		transition: all .3s ease-out;

		&:hover{
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
			transform: scale(1.05);
		}
	}

	> p{
		font-size: .625em;
		color: #b5b4b0;
	}
}

.links-list{
	> .link{
		display: inline-block;
		margin-right: 1em;
		transform-style: flat;

		&:last-child{
			margin: 0;
		}

		& a{
			color: #b5b4b0;
			display: block;
			&:hover{
				color: darken(#b5b4b0, 15%);
			}
		}
	}
}

.content-preview{
	display: none;

	@include media-query($laptop) {
    	display: block;
	}
}

.project-preview{
	height: 100vh;
	position: initial;
	width: 100%;
	overflow: hidden;
	transition: background .3s ease;

	&.-ffc{
		background-color: #333742;
	}

	&.-hla{
		background-color: #b5d96d;
	}

	&.-nlf{
		background-color: #217b94;
	}
}

.img-preview{
	height: 0px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	transition: .5s ease;
	transition-property: opacity height;

	&.-ffc{
		background-image: url('../assets/img/ffc.preview.png');
	}

	&.-hla{
		background-image: url('../assets/img/hla.preview.png');
	}

	&.-nlf{
		background-image: url('../assets/img/nlf.preview.png');
	}

	&.-selected{
		height: 100vh;
		opacity: 1;
	}
}





