/*
Generic
*/

*,
*:before,
*:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing:antialiased;
}

html{
	font-size: $font-size;
	line-height:  $line-height;

	@include media-query($tablet) {
    	font-size: $font-size * 1.125;
	}

    @include media-query($desktop) {
    	font-size: $font-size * 1.25;
	}
}
