/* 
Settings 
*/

// color //
$bg-color: #f2f0eb;
$text-color: #31332e;
$primary-color: #6b992e;

// size //
$font-size: 20px;
$line-height: 1.5em;
$spacing-unit: $font-size * 5;

// fonts //
$font-title: "futura-pt", sans-serif;
$font-body: "ff-tisa-web-pro", serif;

// breakpoints //
$tablet: 500px;
$laptop: 800px;
$desktop: 1200px;