/*
Tools
*/

// MEDIA QUERIES
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// ANIMATIONS

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
